/*  --------- GLOBAL-----------*/

.btn-success{
  background-color: rgb(6, 59, 158) !important;
  border-color: rgb(6, 59, 158) !important;
  outline: none !important;
  box-shadow: none !important;
  color: #FFF !important
}

.btn-success:hover, .btn-success:active, .btn-success:visited {
  background-color: rgb(6, 59, 158) !important;
  border-color: rgb(6, 59, 158) !important;
  outline: none !important;
  box-shadow: none !important;
  color: #FFF !important

}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
  color: #FFF !important

}

.btn-lg:focus,.btn-lg:active {
  outline: none !important;
  box-shadow: none !important;
  color: #FFF !important

}

/*  --------- GLOBAL-----------*/
/*  --------- APP RELATED-----------*/


.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*  --------- END APP RELATED-----------*/

/*  --------- BODY GLOBAL -----------*/


body
{
  background-color: #d5e9ef !important;

}

/*  --------- END BODY GLOBAL -----------*/

/*  --------- NAVBAR -----------*/


.navbar
{
  background-color: #6189be !important;
  position: sticky;
}

.navbar img
{
  height:32px;
  width: 32px;
  /* padding-left: 10px !important */
  /* color: #efe7d5; */
}

.navbar-brand
{
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  margin-left: 45px;
  text-shadow: 2px 2px #000000;
  color: #d5e9ef !important;
  padding: 5px !important

}

.navbar-nav
{
  display: flex !important;
  margin-right: 20px

}

.navbar-nav li
{
  float: right  !important;
  padding-left: 20px
}

.navbar-nav li a
{
  float: right  !important;
  text-shadow: 1px 1px #000000;
  color: #d5e9ef !important;
}

.nav-item
{
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  float: right  !important
}

.nav-link
{
  float: right !important
}

/*  --------- END NAVBAR -----------*/
/*  --------- HOME PAGE CONTAINERS -----------*/


.top
{
  height: calc(100vh - 20px)!important;
  /* width: calc(100vw) !important; */
  background-color: #6189be !important;
  background-image: url(https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/1662092_648693455272003_5930956969111326129_n.jpg?_nc_cat=101&_nc_oc=AQmW2boKnFV5BhyznuGFknDSJ8FN9TXdaLMQRPnfRTUgH7EEApSQmKY3gdg-P8AO0Ks&_nc_ht=scontent-dfw5-1.xx&oh=98c701ed2fc7e0822ae758918beb3a2e&oe=5DF787D0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.darkblock
{

  height: 200px;
  width: 500px;
  background: linear-gradient(rgba(37, 99, 134, 0.5),rgba(37, 99, 134, 0.5));
  transform: translate(15%, 260%);
  z-index: 10;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  padding-top:35px;
  padding-bottom:10px
}

.darkblock h2
{
  color: #d5e9ef;
  text-shadow: 1px 1px #000000;

}

.darkblock h4
{
  color: #d5e9ef;
  padding:10px;
  padding-left:60px;
  padding-right:60px;

  text-shadow: 1px 1px #000000;

}

.category
{
  background-color: #d5e9ef;
  height: 600px
}

.category h1
{
  padding-top: 40px;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  color: #6189be;
  text-shadow: 1px 1px #000000;

}

#row
{
  margin-left: 20px !important;
  margin-right: 20px !important;
  padding-left: 130px !important;
  padding-right: 120px !important;
  justify-items: center;
  padding-top: 20px

}


.col-sm .card
{
  height: 90%;
}

.col-sm .card img
{
  height: 200px;
  /* width: 200px; */
}


.col-sm h2
{
  padding-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 34px;

}

.col-sm p
{
  font-family: 'Oswald', sans-serif;
}

.how
{
  /* background-color: #819359 !important; */
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://s3.envato.com/files/b59924be-c9ca-4b72-9d63-f486a2826a15/inline_image_preview.jpg);
  height: 333px;
  color: #d5e9ef;
  padding-left:100px;
  padding-right:100px
}

.how h1
{
  padding-top: 40px;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-shadow: 2px 2px #000000;
  
}

.test-desc
{
  font-family: 'Oswald', sans-serif;
  /* height: 70px; */
  font-size: 26px;
  text-shadow: 1px 1px #000000;

}

.test-name
{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px #000000;

}

.about
{
  background-color: rgb(190, 231, 241);
  /* background-image: linear-gradient(rgba(239,231,213,0.6),rgba(239,231,213,0.6)),url(http://demo.gridgum.com/wordpress/military/wp-content/themes/military/images/bg-main-dark.jpg); */
  height: 410px;
  position: relative
}

.about .row .col h1
{
  padding-top: 40px;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  padding-top: 70px;
  padding-bottom: 30px;
  color: #6189be;
  text-shadow: 1px 1px #000000;
}

.aboutsub
{
  padding-left: 140px;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-align: left;

}

.aboutsub1
{
  padding-left: 160px;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-align: left;

}

#map
{
  padding: 20px;
  /* box-shadow: 1px 1px #000000; */
}

/*  --------- END HOME PAGE CONTAINERS -----------*/

/*  --------- SHOP PAGE -----------*/


.itemsheader
{
  height: calc(70vh - 65px)!important;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(http://www.channelislandsharbor.org/wp-content/uploads/2017/10/Channel-Islands-Marina1_listing.jpg) !important;
  /* background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://images.wallpaperscraft.com/image/cat_fluffy_jacket_military_66330_1600x900.jpg) !important; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.carousel p
{
  margin-top: 70px;
  font-family: 'Oswald', sans-serif;
  color:#d5e9ef;
  font-size: 100px;
}

.carousel button
{
  margin-top: 100px
}


.cardContainer
{
  background-color: rgb(184, 227, 240) !important;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-column-gap: 10px;
  grid-template-rows: auto;
  justify-items: center;
  width: 100% !important;
  overflow: scroll;
  margin-top: 20px;
  padding-bottom: 20px;


}

.card
{
  margin: 20px;
  border-radius: 1em !important;
  /* animation-name: example_out;
  animation-duration: 0.3s;
  animation-direction: reverse;  
  animation-fill-mode: reverse; */
  box-shadow: 0 1rem 1rem rgba(0,0,0,.175);
  height: 220px;

}

.card img 
{
  /* height: 260px;
  border-top-left-radius: 1em !important;
  border-top-right-radius: 1em !important; */
  /* overflow: hidden; */
  /* object-fit: contain */
}


.card-title
{
  font-family: 'Oswald', sans-serif;
  height: 30px

}

.card-text
{
  font-family: 'Merriweather Sans', sans-serif;

}

#card-desc
{
  height: 70px;
  overflow: hidden;
}

/*  ---------  END SHOP PAGE -----------*/
/*  --------- CART PAGE -----------*/
.cart
{
  min-height: calc(100vh - 65px)!important;

}

.list-group-item
{
  padding-top: 10px !important;
  padding-bottom: 10px !important;

}

#yourcart
{
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

#cartempty
{
  font-family: 'Oswald', sans-serif;
  font-size: 19px;
  color: rgb(6, 59, 158)

}

#cartremove
{
  color: rgb(6, 59, 158);
  width: 30px !important;
  text-align: right
}

#yourtotal
{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-align: right
}

.cartitems
{
  justify-items: center;

}

.shoppingCart
{
  background-color: #6189be !important;
  width: 80%;
  justify-items: center;
}

.cartimg
{
  height: 80px;
  width: 120px
}

#cartname
{
  font-family: 'Oswald', sans-serif;
  text-align: left !important;
  font-size: 20px
}

#cartdesc
{
  font-family: 'Oswald', sans-serif;
  text-align: left !important;
  font-size: 14px
}

#cartprice
{
  font-family: 'Oswald', sans-serif;
  /* font-family: 'Merriweather Sans', sans-serif; */
  text-align: right !important;
  font-size: 18px;

}

.cartqty
{
  text-align: left !important;
  font-size: 18px;

}

.col-
{
  width:10% !important
}

/*  --------- END CART PAGE -----------*/

/*  --------- SIGNIN PAGE -----------*/



.signin
{
  text-align: center;
  height: calc(100vh - 65px)!important;
  /* height: 100% */
}

.signin h1
{
  font-family: 'Oswald', sans-serif;
  margin-top: 30px;
}

form
{
  display: inline-block;
  width: 40%;
  font-family: 'Merriweather Sans', sans-serif;
  margin-top: 3%;

}

.form-group
{
  text-align: center;
  width: 100%
}

/*  ---------  END SIGNIN PAGE -----------*/

/*  --------- FOOTER -----------*/


.footer
{
  background-color: #6189be !important;
  height: 70px;
  text-align: center;
}

.footer p
{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  margin: 0;
  transform: translate(0, 80%);
  color: #d5e9ef;
  text-shadow: 1px 1px #000000;
}